[submodule "Black_Evan/comp3410-pa1"]
	path = Black_Evan/comp3410-pa1
	url = https://github.com/evanrblack/comp3410-pa1.git
[submodule "Fisher_Kevin/comp3410-pa1"]
	path = Fisher_Kevin/comp3410-pa1
	url = https://github.com/megabytefisher/comp3410-pa1.git
[submodule "Skaggs_Claire/comp3410-pa1"]
	path = Skaggs_Claire/comp3410-pa1
	url = https://github.com/ephemeralsylph/comp3410-pa1.git
[submodule "Maddox_Matthew/comp3410-pa1"]
	path = Maddox_Matthew/comp3410-pa1
	url = https://github.com/mmaddox18/comp3410-pa1.git
[submodule "Murphy_Benjamin/comp3410-pa1"]
	path = Murphy_Benjamin/comp3410-pa1
	url = https://github.com/bmmurphy23/comp3410-pa1.git
[submodule "Williams_Kevin/comp3410-pa1"]
	path = Williams_Kevin/comp3410-pa1
	url = https://github.com/kevin504/comp3410-pa1.git
[submodule "Willis_Berkeley/comp3410-pa1"]
	path = Willis_Berkeley/comp3410-pa1
	url = https://github.com/bwillis2/comp3410-pa1.git
[submodule "Vance_Michael/comp3410-pa1"]
	path = Vance_Michael/comp3410-pa1
	url = https://github.com/Gambit12/comp3410-pa1.git
[submodule "Robb_William/comp3410-pa1"]
	path = Robb_William/comp3410-pa1
	url = https://github.com/willrobb/comp3410-pa1.git
[submodule "Murphy_Joseph/comp3410-pa1"]
	path = Murphy_Joseph/comp3410-pa1
	url = https://github.com/jmurphy45/comp3410-pa1.git
[submodule "Marshall_Aaron/comp3410-pa1"]
	path = Marshall_Aaron/comp3410-pa1
	url = https://github.com/airymarsh/comp3410-pa1.git
[submodule "Hopper_Brandon/comp3410-pa1"]
	path = Hopper_Brandon/comp3410-pa1
	url = https://github.com/bran92don/comp3410-pa1.git
[submodule "Gordon_Nicholas/comp3410-pa1"]
	path = Gordon_Nicholas/comp3410-pa1
	url = https://github.com/gorgonical/comp3410-pa1.git
[submodule "Blazier_Kieran/comp3410-pa1"]
	path = Blazier_Kieran/comp3410-pa1
	url = https://github.com/yes91/comp3410-pa1.git
[submodule "Aniglo_Herve/comp3410-pa1"]
	path = Aniglo_Herve/comp3410-pa1
	url = https://github.com/hanuman1/comp3410-pa1.git
[submodule "Arega_Dereje/comp3410-pa1"]
	path = Arega_Dereje/comp3410-pa1
	url = https://github.com/Derejearega/comp3410-pa1.git
[submodule "Duong_Tam/comp3410-pa1"]
	path = Duong_Tam/comp3410-pa1
	url = https://github.com/TamDuong/comp3410-pa1.git
[submodule "Harris_Kendal/comp3410-pa1"]
	path = Harris_Kendal/comp3410-pa1
	url = https://github.com/kcoleharris/comp3410-pa1.git
[submodule "Johnson_Warner/comp3410-pa1"]
	path = Johnson_Warner/comp3410-pa1
	url = https://github.com/rosesandhello/comp3410-pa1.git
[submodule "Martino_Frank/comp3410-pa1"]
	path = Martino_Frank/comp3410-pa1
	url = https://github.com/Frankm757/comp3410-pa1.git
[submodule "Padilla_Valle_Enyil/comp3410-pa1"]
	path = Padilla_Valle_Enyil/comp3410-pa1
	url = https://github.com/EnyilValle/comp3410-pa1.git
[submodule "Vo_Hien/comp3410-pa1"]
	path = Vo_Hien/comp3410-pa1
	url = https://github.com/hienvo/comp3410-pa1.git
[submodule "Young_Denzel/comp3410-pa1"]
	path = Young_Denzel/comp3410-pa1
	url = https://github.com/djyoung13/comp3410-pa1.git
[submodule "Warren_Nathaniel/comp3410-pa1"]
	path = Warren_Nathaniel/comp3410-pa1
	url = https://github.com/nwarren1/comp3410-pa1.git
[submodule "Prins_Edward/comp3410-pa1"]
	path = Prins_Edward/comp3410-pa1
	url = https://github.com/eprins/comp3410-pa1.git
[submodule "Moyer_William/comp3410-pa1"]
	path = Moyer_William/comp3410-pa1
	url = https://github.com/cannonmoyer/comp3410-pa1.git
[submodule "Lawrence_Gregory/comp3410-pa1"]
	path = Lawrence_Gregory/comp3410-pa1
	url = https://github.com/gllwrnce/comp3410-pa1.git
[submodule "Hatten_Cletus/comp3410-pa1"]
	path = Hatten_Cletus/comp3410-pa1
	url = https://github.com/chhatten/comp3410-pa1.git
[submodule "Edstrom_Robert/comp3410-pa1"]
	path = Edstrom_Robert/comp3410-pa1
	url = https://github.com/pronis/comp3410-pa1.git
[submodule "Betances_Lee_Miguel/comp3410-pa1"]
	path = Betances_Lee_Miguel/comp3410-pa1
	url = https://github.com/mbtncsle/comp3410-pa1.git
[submodule "Sagardia_Gabriel/comp3410-pa1"]
	path = Sagardia_Gabriel/comp3410-pa1
	url = https://github.com/gsgardia/comp3410-pa1.git
[submodule "Hiller_Justin/comp3410-pa1"]
	path = Hiller_Justin/comp3410-pa1
	url = https://github.com/jchiller165/comp3410-pa1.git
